extends layout.pug

block content
    section.posts-section
        each post in pagination.files
            article.post
                div.post__header
                    p.post__date #{post.date.toLocaleDateString('en-US')}
                    a(href=`${site.baseUrl}${post.path}`).post__title 
                        h3 #{post.title}

                if post.excerpt
                    div.post__excerpt
                        p #{post.excerpt}
                
                //- div.post__read-link
                //-     a(href=`${site.baseUrl}${post.path}`) Read
                    

    nav.pagination
        if pagination.previous
            a(href=`${site.baseUrl}${pagination.previous.path}`).pagination__previous Previous
            //- a(href='#').pagination__current Page #{pagination.num}

        if pagination.next
            a(href=`${site.baseUrl}${pagination.next.path}`).pagination__next Next