<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}" />
</head>
<body>
    <h1> {{ site.name }}</h1>

    <ul>
        {{#each posts}}
        <li>
            <div><a href="{{ path }}">{{ title }}</a></div>
            <div>{{ date }}</div>
        </li>
        {{/each}}
    </ul>
</body>
</html>